:root {
  --button-text-color-primary: #ffffff;
  --main-accent: #0ec261;
  --black: #121212;
  --gray: #999999;
  --light-gray: #eeeeee;
  --white: #ffffff;
  --button-default: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
  --button-hover: linear-gradient(90deg, #0b934a 2.61%, #026e47 112.6%);
  --button-clicked: linear-gradient(90deg, #076432 2.61%, #013c27 112.6%);
  --aside-background: #111518;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto-Bold'),
    url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Light'),
    url('./fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: local('Roboto-Medium'),
    url('./fonts/Roboto//Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'),
    url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: unset;
}

a {
  text-decoration: none;
}
